
<div>
    <app-create-content (onCreation)="addContent($event)"></app-create-content>

    <p *ngIf="errorTxt">Failes to add Content</p>
</div>

<input type="text">
<button (click)='searchByTitle()'>Search</button>
<div ngFor*="let content of contentArray">
    <div class="elements">
        <h1 [innerHTML]="content.title"></h1>
        <p [innerHTML]="content.description"></p>
        <p [innerHTML]="content.creator"></p>
        <!-- <p [innerHTML]="content.imgURL"></p> -->
        <p [innerHTML]="content.type" appHoverAffect [styleOnHover]='underline' ></p>
        <div>
            <span *ngFor="let tag of content.tags" appHovereffects [styleOnTags]="'bold'">{{tag}}, </span>
        </div>
        <div *ngIf="content.imgURL; else noImage">
            <img [src]="content.imgURL" (click)="logId(content)">
        </div>
        <ng-template #noImage>
            <img src="https://imageio.forbes.com/specials-images/imageserve/5d35eacaf1176b0008974b54/0x0.jpg?format=jpg&crop=4560,2565,x790,y784,safe&width=1200">
        </ng-template>
    </div>
</div>